:root {
  --color-white: #fff;
  --color-dark-blue: #1d1b67;
  --color-light-grey: #667483;
  --color-drak-grey: #465869;
  --color-background: #46ccde;
  --color-light-blue: #c8fcfc;
  --color-text: #4d49c2;
  --color-green: #005863;
  --color-darkblue: #46576a;
  --margin-left: 15rem;
  --color-grey: #cccccd;
  --margin-right:20rem;
  --margin-space-footer: 12rem; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  background-color: var(--color-white);
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  width: 100%;
  min-height: 100vh; }

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column; }

.dashboard {
  width: 100%;
  height: 50rem;
  background-color: var(--color-light-blue);
  display: flex; }
  .dashboard__analytic {
    width: 50%;
    margin-top: 6rem;
    display: flex; }

.trynow {
  width: 40%;
  display: flex; }

.page__price {
  width: 100%;
  display: flex;
  margin-top: 10rem; }

.choices {
  width: 100%;
  display: flex;
  margin-top: 5rem; }

.header__block {
  display: flex; }

.header__left {
  width: 50%;
  margin-top: 4rem;
  margin-left: var(--margin-left); }

.header__starter {
  display: flex;
  align-items: center; }

.header__logo {
  padding-right: 3.8rem;
  font-size: 2.2rem; }

.header__nav {
  color: var(--color-light-grey);
  font-size: 1.7rem;
  padding-right: 2.5rem;
  display: flex;
  align-items: center; }

.header__price {
  font-size: 1.7rem;
  color: var(--color-light-grey); }

.header--btn {
  background-color: var(--color-dark-blue);
  color: var(--color-white);
  width: 28%;
  height: 6rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  border-radius: 0.7rem;
  margin-top: 4rem; }

.header__text {
  width: 70%;
  margin-top: 10rem; }
  .header__text--1 {
    font-size: 7rem;
    color: var(--color-dark-blue);
    line-height: 7rem;
    padding-bottom: 1.5rem; }
  .header__text--prgh {
    width: 65%;
    font-size: 1.7rem;
    color: var(--color-light-grey);
    padding-bottom: 1.8rem;
    line-height: 2.4rem; }

.header__buttons {
  display: flex;
  align-items: center; }

.header__btn {
  background-color: var(--color-dark-blue);
  color: var(--color-white);
  font-size: 1.8rem;
  border-radius: 0.7rem;
  width: 20%;
  height: 5.5rem;
  font-weight: 600;
  text-align: center; }

.header__view {
  padding-left: 3rem;
  font-size: 1.8rem;
  color: var(--color-dark-grey);
  font-weight: 600; }

.header__more {
  display: flex;
  align-items: center;
  margin-top: 2rem; }

.header__final {
  padding-right: 1.5rem; }
  .header__final--prgh {
    font-size: 1.5rem;
    color: var(--color-light-grey);
    padding-right: 0.5rem; }
  .header__final--learn {
    font-size: 1.5rem;
    color: var(--color-dark-grey);
    font-weight: 600; }

.header__right {
  width: 50%;
  height: 90rem;
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  align-items: center; }
  .header__right--button {
    width: 75%;
    display: flex;
    justify-content: flex-end; }

.picture {
  margin-top: 6rem;
  background-image: url("/img/Mockup.png");
  background-size: cover;
  width: 80%;
  height: 70rem;
  background-position: center;
  margin-left: 9rem; }

.time {
  width: 100%;
  display: flex;
  margin-top: 8rem; }
  .time__now {
    margin-left: var(--margin-left);
    width: 50%;
    height: 30rem;
    display: flex;
    flex-direction: column; }
  .time__people {
    width: 80%;
    font-size: 3rem;
    color: var(--color-dark-blue);
    font-weight: 600; }
  .time__texts {
    width: 54%;
    height: 30rem;
    font-size: 1.8rem;
    color: var(--color-light-grey);
    display: flex;
    flex-direction: column;
    align-items: center; }
    .time__texts--lead {
      width: 54%;
      padding-bottom: 6rem; }
    .time__texts--final {
      width: 54%; }

.coustumers {
  width: 100%; }
  .coustumers--photo {
    border-radius: 50%;
    border: 3px solid var(--color-white);
    width: 8.6%;
    height: 6%;
    margin-top: 1.5rem; }
    .coustumers--photo:first-child {
      width: 7.5%;
      height: 6%; }
    .coustumers--photo:not(:first-child) {
      padding-left: 0.7rem; }

.dashboard__custom {
  margin-top: 6rem;
  width: 50%;
  margin-left: var(--margin-left); }
  .dashboard__custom--prgh {
    font-size: 1.8rem;
    color: var(--color-text);
    font-weight: 600; }
  .dashboard__custom--head {
    width: 58%;
    font-size: 2.5rem;
    color: var(--color-green);
    padding-bottom: 1rem; }
  .dashboard__custom--text {
    width: 58%;
    font-size: 1.8rem;
    color: var(--color-light-grey);
    word-spacing: 0.2rem; }
  .dashboard__custom--btn {
    width: 68%;
    height: 5.5rem;
    margin-top: -3rem; }

.analytic {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .analytic__text {
    width: 54%;
    font-size: 1.8rem;
    color: var(--color-text);
    font-weight: 600; }
  .analytic__head {
    width: 54%;
    font-size: 2.5rem;
    color: var(--color-green);
    padding-bottom: 1rem; }
  .analytic__prgh {
    width: 54%;
    font-size: 1.8rem;
    color: var(--color-light-grey); }
  .analytic__live {
    margin-top: 5rem;
    color: var(--color-darkblue);
    font-size: 2rem;
    font-weight: 600;
    width: 54%; }
  .analytic__arrow {
    width: 40%;
    height: 6rem; }

.footer {
  width: 100%;
  height: 30rem;
  display: flex; }
  .footer__items {
    display: flex;
    width: 60%; }
  .footer__end {
    display: flex;
    flex-direction: column;
    margin-left: var(--margin-left);
    margin-right: var(--margin-space-footer); }
  .footer__img {
    margin-top: 5rem; }
  .footer__stuffs {
    margin-top: 2rem; }
    .footer__stuffs--product {
      font-size: 1.6rem;
      padding-bottom: 1.2rem; }
    .footer__stuffs--nav {
      font-size: 1.4rem;
      padding-bottom: 0.8rem;
      color: var(--color-light-grey); }
  .footer__help {
    margin-top: 9.4rem; }
    .footer__help-1 {
      font-size: 1.6rem;
      padding-bottom: 1.2rem; }
    .footer__help--nav {
      font-size: 1.4rem;
      padding-bottom: 0.8rem;
      color: var(--color-light-grey); }
  .footer__company {
    margin-top: 9.4rem;
    margin-left: var(--margin-space-footer); }
    .footer__company-1 {
      font-size: 1.6rem;
      padding-bottom: 1.2rem; }
    .footer__company--nav {
      font-size: 1.4rem;
      padding-bottom: 0.8rem;
      color: var(--color-light-grey); }

.try {
  margin-left: var(--margin-space-footer);
  margin-top: 9.4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end; }
  .try__tweet {
    width: 98%;
    font-size: 1.4rem;
    padding-bottom: 0.5rem; }
  .try__email {
    margin-right: var(--margin-right);
    width: 75%;
    height: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--color-grey);
    border-radius: 0.8rem; }
  .try__send {
    color: var(--color-light-grey);
    font-size: 1.6rem;
    text-align: center;
    padding-left: 2rem; }
  .try--btn {
    margin-right: 0.5rem;
    background-color: var(--color-dark-blue);
    color: var(--color-white);
    border-radius: 0.6rem;
    font-size: 1.6rem;
    font-weight: 600;
    width: 18rem;
    height: 6rem; }

.prices {
  width: 50%;
  display: flex; }
  .prices__logo {
    margin-left: var(--margin-left);
    margin-right: 5rem; }
  .prices__nav--features {
    display: flex;
    color: var(--color-light-grey);
    font-size: 1.7rem; }
  .prices__nav--pricing {
    padding-left: 3rem;
    font-weight: 600;
    font-size: 2rem; }
  .prices--button {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    margin-top: -6.2rem;
    margin-right: var(--margin-right); }

.plans {
  width: 100%;
  display: flex;
  flex-direction: column; }
  .plans__header {
    width: 60%;
    align-self: center;
    font-size: 4rem;
    font-weight: 700;
    margin-top: 4rem;
    word-spacing: 0.5rem; }
  .plans__prgh {
    color: var(--color-light-grey);
    font-size: 2.5rem;
    align-self: center;
    text-align: center;
    width: 55%;
    margin-top: 1rem; }
  .plans__payment {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem; }
  .plans__bills {
    font-size: 2rem;
    font-weight: 600;
    padding-right: 1.5rem;
    color: var(--color-darkblue); }
  .plans__year {
    font-size: 2rem;
    color: var(--color-light-grey);
    padding-left: 1.5rem; }

.subscribe {
  width: 50%;
  display: flex;
  justify-content: center;
  margin-left: var(--margin-left);
  margin-right: var(--margin-right);
  margin: auto;
  margin-bottom: 4rem; }
  .subscribe--plan {
    border: 2px solid var(--color-grey);
    padding: 2rem;
    width: 270%;
    height: 35rem;
    border-radius: 00.5rem;
    margin-right: 4rem; }
    .subscribe--plan-1 {
      font-size: 3.5rem; }
    .subscribe--plan-2 {
      font-size: 2rem;
      color: var(--color-grey);
      font-weight: 400; }
    .subscribe--plan-prgh {
      font-size: 1.5rem;
      color: var(--color-light-grey);
      font-weight: 500;
      padding: 1rem 0;
      border-bottom: 1px solid var(--color-grey); }
  .subscribe__items {
    text-decoration: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 1.5rem; }
  .subscribe__list {
    list-style: none;
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
    font-size: 1.5rem;
    color: var(--color-light-grey);
    font-weight: 500; }
  .subscribe__img {
    padding-right: 1rem; }
  .subscribe--btn {
    width: 100%;
    height: 6rem;
    margin-top: 2rem;
    background-color: var(--color-dark-blue);
    color: var(--color-white);
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    border-radius: 0.5rem; }
  .subscribe__12 {
    border: 2px solid var(--color-grey);
    padding: 2rem;
    width: 260%;
    height: 40rem;
    border-radius: 00.5rem;
    margin-right: 4rem; }
  .subscribe__items-12 {
    margin-top: 2rem; }
  .subscribe__7 {
    border: 2px solid var(--color-grey);
    padding: 2rem;
    width: 270%;
    height: 32rem;
    border-radius: 00.5rem; }
  .subscribe__items-7 {
    margin-top: 2rem; }

.switch {
  position: relative;
  display: inline-block;
  width: 6rem;
  height: 3.4rem; }

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0; }

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s; }

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s; }

input:checked + .slider {
  background-color: #2196F3; }

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3; }

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px); }

/* Rounded sliders */
.slider.round {
  border-radius: 34px; }

.slider.round:before {
  border-radius: 50%; }
